.header{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: green;
}
#fun_facts_para{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 900;
    align-content: space-between;
    background-color: yellowgreen;
    color: white;
}
.hover{
  display: inline-block;
  position: relative;
  color:#0087ca;
}

.hover:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: 
  #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }


  p::first-letter {
    color: aqua;
    padding-right: 8px;
  
    -webkit-initial-letter: 3;
    initial-letter: 1.5;
  }

  body{
    background-color: gray;
  }

